@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after,
.is-active .hamburger-inner::after,
.is-active .hamburger-inner::before {
  background-color: #307084 !important;
}

.hamburger:hover {
  opacity: 1 !important;
}

.hamburger {
  padding: 0px !important;
  padding-top: 5px !important;
  justify-content: end !important;
  align-items: center !important;
}

/* .long-text {
  max-height: 0;
  overflow: hidden;
  display: block;
  transition: max-height 0.3s;
}

.expanded {
  max-height: 500px;
  transition: max-height 2s;
} */

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-openSans: "Open Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-roboto: "Roboto", sans-serif;

    /* --white-base: 56.54, 2.6091%, 96.28%; */
    --white-base: 43, 64%, 98%, 1;
    --tan-base: 38, 80%, 93%, 1;
    --black-base: 197, 57%, 11%;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 222.2 47.4% 11.2%; */
    /* --primary-foreground: 210 40% 98%; */
    /* --primary-foreground: 197, 44%, 11%; */

    --primary: 194, 47%, 35%, 1;
    --primary-foreground: 55, 58%, 96%;
    --primary-text: 228, 5%, 18%, 1;
    --primary-dark: 196, 54%, 30%, 1;
    --primary-light: 196, 32%, 75%, 1;

    --secondary: 210, 40%, 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-text: 236, 8%, 39%, 1;

    /* --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%; */
    --muted: 200 40% 70.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --icon: 236, 8%, 39%, 1;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    /* --primary: 210 40% 98%; */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  .add-border {
    border-width: 2px;
    border-color: brown;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-pretty;
  }
  nav,
  footer {
    @apply !text-pretty;
  }
  h1 {
    color: hsl(var(--primary-text));
    font-family: var(--font-montserrat);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  h2 {
    color: hsl(var(--black-base));
    font-family: var(--font-montserrat);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h3 {
    color: hsl(var(--primary));
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  p {
    color: hsl(var(--secondary-text));
    font-family: var(--font-openSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .section-padding {
    display: flex;
    margin-bottom: 104px;
    justify-content: space-between;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: 72px;
    padding-right: 72px;
    gap: 40px;
  }

  .section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .contact-section-padding {
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 70px;
    padding-right: 70px;
    gap: 72px;
    justify-content: space-between;
  }
}
