@use "../../../../css/queries.scss";
@import "../../../../css/queries.scss";

.heroContainer {
  border: orange 3px solid;
  position: relative;
  div:nth-child(2) {
    position: absolute;
    display: flex;
    justify-content: center;
    inset: 0;
    border: 2px red solid;
  }
  h1 {
    display: flex;
    align-items: center;
    border: 2px dotted green;
    @include large-break {
      font-size: 64px;
    }
  }
}

.image {
  @include small-break {
    aspect-ratio: 215 / 127;
    margin-bottom: 40px;
  }
  @include mid-break {
    margin-bottom: 64px;
  }
  @include large-break {
    margin-bottom: 104px;
  }
}

.familyOwnedContainer {
  width: 100%;
  display: flex;
  justify-content: start;
  align-self: start;

  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
    padding: 0 144px 104px;

    @include small-break {
      padding: 0 32px 40px;
      gap: 32px;

      h1 {
        font-size: 32px;
      }
    }
    @include mid-break {
      padding: 0 72px 64px;
      gap: 32px;
    }

    @include large-break {
      padding: 0 72px 104px;
      gap: 53px;
    }
    h1 {
      color: hsl(var(--primary-text));
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -1.2px;
      @include small-break {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.96px;
      }
    }
    p {
      color: hsl(var(--secondary-text));
      align-self: stretch;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: -0.96px;
      text-align: center;
      @include large-break {
        text-align: left;
      }
      @include mid-break {
        text-align: left;
      }
      @include small-break {
        font-size: 20px;
        letter-spacing: -0.8px;
      }
    }
  }
}

.historyContainer {
  display: flex;
  flex-direction: column;
  gap: 104px;
  padding: 0 0 104px;

  @include mid-break {
    gap: 64px;
    padding: 0 0 64px;
  }
  @include small-break {
    gap: 40px;
    padding: 0 0 40px;
  }
}

.historySubContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 140px;
  padding: 0 144px;
  @include large-break {
    gap: 64px;
    padding: 0 72px;
  }
  @include mid-break {
    flex-direction: column;
    gap: 64px;
    padding: 0 72px;
  }
  @include small-break {
    flex-direction: column;
    gap: 32px;
    padding: 0 32px;
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 612px;
    @include large-break {
      justify-content: center;
      width: 100%;
      gap: 32px;
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
    }
    @include mid-break {
      justify-content: center;
      width: 100%;
      gap: 40px;

      h1 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
      }
    }
    @include small-break {
      flex-direction: column;
      width: 100%;
      h1 {
        font-size: 32px;
        margin-bottom: 32px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

.historyImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include small-break {
    width: 100%;
  }
  @include mid-break {
    width: 560px;
    aspect-ratio: 560 / 345;
  }
  @include large-break {
    min-width: 560px;
    aspect-ratio: 560 / 345;
  }
}

.historyImage {
  @include small-break {
    width: 325px;
    object-fit: cover;
    object-position: center;
  }
}

.faq {
  display: flex;
  flex-direction: column;

  @include small-break {
    margin: 40px 32px 40px;
  }
  @include mid-break {
    margin: 64px 72px 64px;
  }
  @include large-break {
    margin: 104px 70px 104px;
  }

  h1 {
    color: var(--Primary---Dark, #235e74);
    justify-content: start;
    margin-bottom: 40px;
    @include small-break {
      font-size: 32px;
    }
  }
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AccordionTrigger,
.AccordionContent {
  @include small-break {
    font-size: 20px;
  }
}

.AccordionTrigger {
  padding: 16px 0;
}
