@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.filterContainer {
  background-color: hsl(var(--white-base));
  min-width: 100vw;
  padding: 24px 32px;
  @include large-break {
    display: none;
  }
}

.trigger {
  span {
    color: var(--Primary, #307084);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
    padding: none;
  }
}

.accordionContent {
  padding: 16px 0 0;
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.filterItem {
  display: flex;
  align-items: center;
  input {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid var(--Text-Primary, #2c2d31);
  }
  label {
    color: var(--Text-Primary, #2c2d31);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 12px;
  }
}

.buttonContainer {
  min-width: 100%;
  padding: 32px 32px;
  @include large-break {
    display: none;
  }
  Button {
    width: 100%;
  }
}

.radioItem {
  label {
    color: var(--Text-Primary, #2c2d31);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 12px;
  }
}
