@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

@mixin custom-breakpoint($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

.sectionContainer {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    padding: 80px;
    @include mid-break {
      display: none;
    }
    @include small-break {
      display: none;
    }
  }
}

.productFilterCardContainer {
  display: flex;
  margin-bottom: 24px;
  @include mid-break {
    display: none;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;

  margin: 64px 72px;
  @include large-break {
    display: none;
  }
  @include custom-breakpoint(900px) {
    margin: 40px 35px;
  }
  Button {
    min-width: 100%;
  }
}

.productCardContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 144px 0 72px;
  @include large-break {
    margin: 0 72px 72px;
  }
  @include mid-break {
    margin: 0 72px 64px;
  }
  @include custom-breakpoint(900px) {
    margin: 0 32px 40px;
  }
}

.noItemsMatchContainer {
  display: flex;
  max-width: 100%;
  margin-inline: 86px;
  @include mid-break {
    margin-inline: 52px;
  }
}
