@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.sliderContainer {
  overflow: hidden;
  height: 100px;
  position: relative;
  max-width: fit-content;
  @include large-break {
    flex-direction: column;
  }
  @include mid-break {
    width: max-content;
    height: 80px;
  }
  @include queries.custom-break-1068-856 {
    height: 120px;
  }
  @include small-break {
    height: 50px;
  }
  @include queries.custom-break-470 {
    height: 70px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  transition: transform 0.5s ease-in-out;
  @include mid-break {
    justify-content: center;
    align-items: start;
  }
  @include small-break {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @include extra-small-break {
    max-width: 100%;
    overflow: hidden;
  }
}

.line {
  height: 100px;
  max-width: fit-content;
  color: var(--Primary, #307084);
  font-family: var(--montserrat);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: start;
  align-items: center;
  padding-bottom: 15px;
  @include queries.custom-break-1068-856 {
    max-width: 450px;
    height: 130px;
    font-size: 60px;
  }
  @include small-break {
    height: 70px;
    display: flex;
    font-size: 40px;
    max-width: fit-content;
  }
  @include queries.custom-break-470 {
    height: 80px;
    max-width: 300px;
    font-size: 36px;
  }
}
